<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute>
          <Exclude>[BookLendingApp]*Migrations*</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Program</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Startup</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.LambdaEntryPoint</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Services.DatabaseConfigurationService</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Services.ParameterStoreService</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Data.AwsSettings</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Data.PostgreSqlSettings</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Data.SsmSettings</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Migrations.AddUniqueISBN</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Migrations.BookContextModelSnapshot</Exclude>
          <Exclude>[BookLendingApp]BookLendingApp.Migrations.InitialCreate</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>